<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Death/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{501, 1}, {7, 6}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96, 97}, {7, 6}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/10.png</key>
		<dict>
			<key>frame</key>
			<string>{{363, 221}, {151, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24, 30}, {151, 142}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/11.png</key>
		<dict>
			<key>frame</key>
			<string>{{194, 181}, {167, 157}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 22}, {167, 157}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {191, 180}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 11}, {191, 180}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/13.png</key>
		<dict>
			<key>frame</key>
			<string>{{194, 1}, {178, 179}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11, 11}, {178, 179}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{483, 120}, {23, 22}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88, 90}, {23, 22}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 303}, {47, 45}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76, 78}, {47, 45}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 246}, {59, 55}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70, 73}, {59, 55}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 183}, {66, 61}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67, 70}, {66, 61}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{90, 183}, {84, 79}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57, 61}, {84, 79}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 374}, {93, 87}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53, 57}, {93, 87}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{375, 120}, {106, 99}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46, 51}, {106, 99}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>Death/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{375, 1}, {124, 117}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37, 43}, {124, 117}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Death.png</string>
	</dict>
</dict>
</plist>
