<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>crawling/head.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {69, 59}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15, 21}, {69, 59}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>crawling/member.png</key>
		<dict>
			<key>frame</key>
			<string>{{72, 32}, {19, 68}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40, 15}, {19, 68}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>crawling/pampers.png</key>
		<dict>
			<key>frame</key>
			<string>{{72, 1}, {51, 29}}</string>
			<key>offset</key>
			<string>{0, 4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24, 31}, {51, 29}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128, 128}</string>
		<key>textureFileName</key>
		<string>crawling.png</string>
	</dict>
</dict>
</plist>
